@use "../libs/pxtorem.scss" as *;

// Font
$font-family: "Baloo 2", sans-serif;

// Colors
$colorBG: #061923;
$colorBGCorrect: #204d24;
$colorBGWrong: #541818;
$colorWhite: #f9f7f7;
$colorLetterOfKeyboard: #233842;
$colorLetterOfKeyboardActive: #3082AD;
$colorBorderOfKeys: #133d53;
$colorPlaceholder: #414F58;

// Breakpoints
$laptopL: rem(1439.98);
$laptopM: rem(1199.98);
$laptop: rem(1023.98);
$tablet: rem(767.98);
$tabletS: rem(575.98);
$mobileL: rem(424.98);
$mobileM: rem(374.98);
$mobileS: rem(319.98);