@use "../libs/pxtorem.scss" as *;

// Font
$font-family: "Baloo 2", sans-serif;

// Colors
$colorBG: #061923;
$colorLetterOfKeyboard: #233842;
$colorBorderOfKeys: #133d53;

// Breakpoints
$laptopL: rem(1439.98);
$laptopM: rem(1199.98);
$laptop: rem(1023.98);
$tablet: rem(767.98);
$tabletS: rem(575.98);
$mobileL: rem(424.98);
$mobileM: rem(374.98);
$mobileS: rem(319.98);