@use "../libs/pxtorem.scss" as *;
@use "../base/vars.scss" as *;

.game {
	&__keyboard {
	}
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(30);

	&__row {
		display: flex;
		column-gap: rem(20);
	}
	&__key {
		font-weight: 700;
		font-size: rem(50);
		text-transform: uppercase;
		text-align: center;
		color: $colorLetterOfKeyboard;
		border: 2px solid $colorBorderOfKeys;
		border-radius: rem(17);
		width: rem(80);
		height: rem(80);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s all;
        &--active {
            transform: rotate(20deg) scale(.7);
            background-color: $colorBorderOfKeys;
            color: $colorLetterOfKeyboardActive;
        }
	}
}
