@use "../libs/pxtorem.scss" as *;
@use "../base/vars.scss" as *;
@use "../animation/animation.scss" as *;

.word-wrapper {
	position: relative;
	font-size: rem(122);
	font-weight: 700;
	text-transform: uppercase;
	#word {
		width: 100%;
		display: inline-flex;
		color: $colorPlaceholder;
	}
	#word-input {
		position: absolute;
		top: 0;
		left: 0;
		border: none;
		outline: none;
		width: 100%;
		background-color: transparent;
		color: $colorWhite;
		text-transform: uppercase;
		font-weight: 700;
		pointer-events: none;
		user-select: none;
		caret-color: transparent;
	}
}

.game {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__timer {
		font-weight: 700;
		font-size: rem(60);
		line-height: 158%;
		color: $colorWhite;
		display: flex;
		justify-content: center;
	}
}

.keyboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: rem(30);

	&__row {
		display: flex;
		column-gap: rem(20);
	}
	&__key {
		font-weight: 700;
		font-size: rem(50);
		text-transform: uppercase;
		text-align: center;
		color: $colorLetterOfKeyboard;
		border: 2px solid $colorBorderOfKeys;
		border-radius: rem(17);
		width: rem(80);
		height: rem(80);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.2s all;
		&--space {
			width: rem(450);
		}
		&--active {
			transform: rotate(3deg) scale(0.7);
			background-color: $colorBorderOfKeys;
			color: $colorLetterOfKeyboardActive;
		}
	}
}
