@use "../libs/pxtorem.scss" as *;
@use "../base/vars.scss" as *;
@use "../animation/animation.scss" as *;

.word-wrapper {
	position: relative;
	font-size: rem(122);
	font-weight: 700;
	text-transform: uppercase;
	#word {
		width: 100%;
		display: inline-flex;
		color: $colorPlaceholder;
	}
	#word-input {
		position: absolute;
		top: 0;
		left: 0;
		border: none;
		outline: none;
		width: 100%;
		background-color: transparent;
		color: $colorWhite;
		text-transform: uppercase;
		font-weight: 700;
		pointer-events: none;
		user-select: none;
		caret-color: transparent;
	}
}

.game {
	height: 100vh;
	padding: rem(30);
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: rem(24);
		position: relative;
	}
	&__timer {
		font-weight: 700;
		font-size: rem(60);
		line-height: 158%;
		color: $colorWhite;
		display: flex;
		justify-content: center;
	}
}

.keyboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: rem(18);

	&__row {
		display: flex;
		column-gap: rem(14);
	}
	&__key {
		font-weight: 700;
		font-size: rem(50);
		text-transform: uppercase;
		text-align: center;
		color: $colorLetterOfKeyboard;
		border: 2px solid $colorBorderOfKeys;
		border-radius: rem(17);
		width: rem(80);
		height: rem(80);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.2s all;
		&--space {
			width: rem(450);
		}
		&--active {
			transform: rotate(3deg) scale(0.7);
			background-color: $colorBorderOfKeys;
			color: $colorLetterOfKeyboardActive;
		}
	}
}

.counter {
	display: flex;
	align-items: center;
	border: rem(2) solid $colorBorderOfKeys;
	border-radius: rem(17);
	position: absolute;
	top: 0;
	left: 0;
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		&:first-child {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				height: 100%;
				width: rem(2);
				background-color: $colorBorderOfKeys;
				right: 0;
				top: 0;
			}
		}
	}
	&__title {
		color: $colorBlueText;
		padding: rem(8) rem(24);
		font-weight: 700;
		font-size: rem(20);
		position: relative;
		width: 100%;
		text-align: center;
		&::after {
			content: "";
			position: absolute;
			height: rem(2);
			width: 100%;
			background-color: $colorBorderOfKeys;
			bottom: 0;
			left: 0;
		}
	}
	&__number {
		font-weight: 800;
		font-size: rem(54);
		text-align: center;
		color: $colorGreenText;
		padding: rem(20);
		&--red {
			color: $colorRedText;
		}
	}
	&__time {
		position: absolute;
		bottom: -40%;
		left: 50%;
		transform: translateX(-50%);
		font-weight: 700;
		font-size: rem(24);
		color: $colorGreenText;
		&--red {
			color: $colorRedText;
		}
	}
}

.record {
	border: rem(2) solid $colorRecordBorder;
	border-radius: rem(17);
	position: absolute;
	top: 0;
	right: 0;
	&__title {
		color: $colorRecordText;
		text-transform: uppercase;
		padding: rem(8) rem(24);
		font-weight: 700;
		font-size: rem(20);
		position: relative;
		width: 100%;
		text-align: center;
		&::after {
			content: "";
			position: absolute;
			height: rem(2);
			width: 100%;
			background-color: $colorRecordBorder;
			bottom: 0;
			left: 0;
		}
	}
	&__number {
		font-weight: 800;
		font-size: rem(54);
		text-align: center;
		color: $colorRecordText;
		padding: rem(20);
	}
}
