@use "../base/vars.scss" as *;

@keyframes backgroundBlinkingCorrect {
	0% {
		background-color: $colorBG;
	}
	50% {
		background-color: $colorBGCorrect;
	}
	100% {
		background-color: $colorBG;
	}
}
@keyframes backgroundBlinkingWrong {
	0% {
		background-color: $colorBG;
	}
	50% {
		background-color: $colorBGWrong;
	}
	100% {
		background-color: $colorBG;
	}
}

@keyframes timeManipulation {
	0% {
		opacity: 0;
		transform: translate(-50%, 2rem);
	}
	50% {
		opacity: 1;
		transform: translate(-50%);
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -1rem);
	}
}

.blink-correct {
	animation: backgroundBlinkingCorrect 0.4s forwards ease-in-out;
}
.blink-wrong {
	animation: backgroundBlinkingWrong 0.4s forwards ease-in-out;
}

.time-moving {
	animation: timeManipulation .5s forwards ease-in-out;
}